<acc-page-header-bar title="{{ (paymentClauseId ? 'EDIT_PAYMENT_CLAUSE' : 'NEW_PAYMENT_CLAUSE') | translate }}">
</acc-page-header-bar>
<mat-card class="acc-section round-borders margin-md-a">
  <form #paymentClauseForm="ngForm" (ngSubmit)="paymentClauseForm.valid && onSubmit()" class="form">

    <mat-card-content>
      <div class="error" *ngFor="let error of errors">
        {{ error | serverTranslate : lang }}
      </div>
      <acc-loading *ngIf="isLoading"></acc-loading>
      <mat-form-field class="input margin-md-t-b">
        <input matInput [(ngModel)]="paymentClause.name" name="name" placeholder="{{ 'PAYMENT_CLAUSE_NAME' | translate }}"
          required>
      </mat-form-field>
      <mat-checkbox class="checkbox card-checkbox" color="primary" name="constant" [(ngModel)]="paymentClause.constant">{{
        'CONSTANT_CLAUSE' | translate }}</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex fill padding-md-a end-h">
        <button type="submit" mat-raised-button color="primary">{{ 'SAVE' | translate}}</button>
        <button type="button" [routerLink]="(paymentClauseId ? ['../../'] : ['../'])" mat-raised-button color="accent">{{
          'BACK' | translate}}</button>

      </div>
    </mat-card-actions>
  </form>

</mat-card>