<acc-page-header-bar title="{{ (itemId ? 'EDIT_ITEM' : 'NEW_ITEM') | translate }}">
</acc-page-header-bar>
<mat-card class="acc-section round-borders margin-md-a">
  <form #itemForm="ngForm" (ngSubmit)="itemForm.valid && onSubmit()" class="form">
    <mat-card-content>
      <div class="error" *ngFor="let error of errors">
        {{ error | serverTranslate : lang }}
      </div>
      <acc-loading *ngIf="isLoading"></acc-loading>
      <div class="flex wrap center-v">
        <mat-form-field class="input margin-sm-a">
          <input matInput [(ngModel)]="item.name" name="name" placeholder="{{ 'ITEM_NAME' | translate }}" required>
        </mat-form-field>
        <mat-form-field class="input margin-sm-a">
          <input matInput [(ngModel)]="item.barcode" name="barcode" placeholder="{{ 'BARCODE' | translate }}" required>
        </mat-form-field>
      </div>
      <div class="flex wrap center-v">
        <mat-form-field class="input margin-sm-a">
          <mat-select placeholder="{{ 'ITEM_TYPE' | translate }}" [(ngModel)]="item.type" name="type" required>
            <mat-option *ngFor="let type of itemOptions?.itemTypes" [value]="type._id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input margin-sm-a">
          <mat-select placeholder="{{ 'CURRENCY' | translate }}" [(ngModel)]="item.currency" name="currency" required>
            <mat-option *ngFor="let currency of itemOptions?.currencies" [value]="currency._id">
              {{currency.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex wrap center-v">
        <mat-form-field class="input margin-sm-a">
          <mat-select placeholder="{{ 'ITEM_UNIT' | translate }}" [(ngModel)]="item.unit" name="unit" required>
            <mat-option *ngFor="let unit of itemOptions?.itemUnits" [value]="unit._id">
              {{unit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input margin-sm-a">
          <mat-select placeholder="{{ 'COMPANY' | translate }}" [(ngModel)]="item.company" name="company" required>
            <mat-option *ngFor="let company of itemOptions?.companies" [value]="company._id">
              {{company.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex wrap center-v">
        <mat-form-field class="input margin-sm-a">
          <input matInput [(ngModel)]="item.purchasePrice" name="purchasePrice" placeholder="{{ 'ITEM_PURCHASE_PRICE' | translate }}"
            type="number" min="1" required>
        </mat-form-field>
        <mat-form-field class="input margin-sm-a">
          <input matInput [(ngModel)]="item.sellingPrice" name="sellingPrice" placeholder="{{ 'ITEM_SELLING_PRICE' | translate }}"
            type="number" min="1" required>
        </mat-form-field>
      </div>
      <div class="flex wrap center-v">
        <mat-form-field class="input margin-sm-a">
          <input matInput [(ngModel)]="item.wholesalePrice" name="wholesalePrice" placeholder="{{ 'ITEM_WHOLESALE_PRICE' | translate }}"
            type="number" min="1" required>
        </mat-form-field>
        <mat-form-field class="input margin-sm-a">
          <input matInput [(ngModel)]="item.defectivePrice" name="defectivePrice" placeholder="{{ 'ITEM_DEFECTIVE_PRICE' | translate }}"
            type="number" min="1" required>
        </mat-form-field>
      </div>
      <div class="flex wrap center-v">
        <mat-form-field class="input margin-sm-a">
          <mat-select placeholder="{{ 'ITEM_CATEGORY' | translate }}" [(ngModel)]="item.category" name="category"
            required>
            <mat-option *ngFor="let category of itemOptions?.itemCategories" [value]="category._id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="checkbox card-checkbox margin-sm-l-r" color="primary" name="active" [(ngModel)]="item.active">{{
          'ACTIVE'
          | translate }}</mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex fill padding-md-a end-h">
        <button type="submit" mat-raised-button color="primary">{{ 'SAVE' |
          translate}}</button>
        <button type="button" [routerLink]="(itemId ? ['../../'] : ['../'])" mat-raised-button color="accent">{{ 'BACK'
          |
          translate}}</button>

      </div>
    </mat-card-actions>
  </form>

</mat-card>