.profile-pic{
  border-radius:50%;
}


p{
    background-color: #333;
    color:#fff;
    padding-left: 16px;
    padding-right:16px;
    margin:0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.profile-name{
      padding-top:15px;
    }

    &.profile-email{
      padding-top: 2px;
      padding-bottom:15px;
      font-size: 12px;
      color:#999;
    }
}
