<acc-page-header-bar title="{{ (currencyId ? 'EDIT_CURRENCY' : 'NEW_CURRENCY') | translate }}">
</acc-page-header-bar>
<mat-card class="acc-section round-borders margin-md-a">
  <form #currencyForm="ngForm" (ngSubmit)="currencyForm.valid && onSubmit()" class="form">

    <mat-card-content>
      <div class="error" *ngFor="let error of errors">
        {{ error | serverTranslate : lang }}
      </div>
      <acc-loading *ngIf="isLoading"></acc-loading>
      <mat-form-field class="input margin-md-t-b">
        <input matInput [(ngModel)]="currency.name" name="name" placeholder="{{ 'CURRENCY_NAME' | translate }}"
          required>
      </mat-form-field>
      <mat-form-field class="input margin-md-t-b">
        <input matInput [(ngModel)]="currency.symbol" name="symbol" placeholder="{{ 'CURRENCY_SYMBOL' | translate }}"
          required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex fill padding-md-a end-h">
        <button type="submit" mat-raised-button color="primary">{{ 'SAVE' | translate}}</button>
        <button type="button" [routerLink]="(currencyId ? ['../../'] : ['../'])" mat-raised-button color="accent">{{
          'BACK' | translate}}</button>

      </div>
    </mat-card-actions>
  </form>

</mat-card>