<mat-card class="acc-section round-borders">
  <mat-card-header class="flex center-h margin-md-t-b">
    <mat-card-title class="section-sub-header flex fill text-xlarge">{{ 'SYSTEM_NAME' | translate }}</mat-card-title>
  </mat-card-header>
  <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit()" class="form">

    <mat-card-content>
      <div class="error" *ngFor="let error of errors">
        {{ error | serverTranslate : lang }}
      </div>
      <acc-loading *ngIf="isLoading"></acc-loading>
      <mat-form-field class="input margin-md-t-b">
        <input matInput [(ngModel)]="loginCreds.username" name="username" placeholder="{{ 'USERNAME' | translate }}"
          required>
      </mat-form-field>
      <mat-form-field class="input margin-md-t-b">
        <input type="password" matInput [(ngModel)]="loginCreds.password" name="password" placeholder="{{ 'PASSWORD' | translate }}"
          required>
      </mat-form-field>
      <mat-checkbox class="checkbox card-checkbox" color="primary" name="rememberMe" [(ngModel)]="loginCreds.rememberMe">{{
        'REMEMBER_ME' | translate }}</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex fill padding-md-a end-h">
        <button type="submit" mat-raised-button color="primary">{{ 'LOGIN' |
          translate }}</button>
      </div>
    </mat-card-actions>
  </form>

</mat-card>
<div class="overlay"></div>